<div class="container-fluid row margintop">
    <div class="col-md-2"></div>

    <div class="col-md-4 offset-md-2">
        <div id="signup">Sign Up</div><br>

        <form #signupForm="ngForm" (ngSubmit)='signinWithEmailPassword()'>
            <div class="form-group">
                <label for="efname"></label>First Name
                <input class="form-control" type="text" id="efname" placeholder="first name" [(ngModel)]='firstName'
                    name="efname" required #efname1="ngModel">
            </div>
            <div class="form-group">
                <label for="elname"></label>Last Name
                <input class="form-control" type="text" id="elname" placeholder="last name" [(ngModel)]='lastName'
                    name="elname" required #elname1="ngModel">
            </div>
            <div class="form-group">
                <label for="mob"></label>Mobile
                <input class="form-control" type="number" id="mob" placeholder="mobile" [(ngModel)]='mobile'
                    name="mob" required #mob1="ngModel">
            </div>
            <div class="form-group">
                <label for="uname"></label>User Name
                <input class="form-control" type="text" id="uname" placeholder="user name" [(ngModel)]='userName'
                    name="uname" required #uname1="ngModel">
            </div>
            <div class="form-group">
                <label for="email"></label>Email
                <input class="form-control" pattern="[a-zA-Z0-4]{1,}@[a-zA-Z0-4]{1,}.[a-zA-Z0-4]{1,}" type="email"
                    id="email" placeholder="email" [(ngModel)]='email' name="email" required #emailId="ngModel">
            </div>
            <!-- error div for Email -->
            <div [hidden]='emailId.valid || emailId.pristine' class="alert alert-danger">
                Please provide correct email format
            </div>
            <!-- end of error div for Email -->
            <div class="form-group">
                <label for="password"></label>Password
                <input class="form-control" type="password" minlength="6" id="password"
                    placeholder="password(min 6 Char)" [(ngModel)]='password' name="password" required #pass="ngModel">
            </div>
            <!-- error div for password -->
            <div [hidden]='pass.valid || pass.pristine' class="alert alert-danger">
                Password minimum length should be 6
            </div>
            <button type="submit" [disabled]="!signupForm.form.valid" class="btn btn-primary btn-small">Signup</button>
        </form>
    </div>
</div>