<div class="container container-fluid table-responsive">
    <table class="table table-boredered">
        <thead>
            <td>userId</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>UserName</td>
            <td>Email</td>
        </thead>
        <tbody *ngFor='let user of userList' >
            <td>{{user.userId}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.userName}}</td>
            <td>{{user.email}}</td>
            <td>
                <button type="submit" class="btn btn-small btn-success" (click)='gotoMeet(user)'>Go</button>
            </td>
        </tbody>
    </table>
</div>